@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

body {
    background-color: #282828;
    color: white;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    overflow: hidden;
    position: fixed;
    margin: 0 0 0 0;
}

h1 {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    width: 98vw;
    text-align: center;
    padding-bottom: 4px;
    
}

h2, h3 {
    display: flex;
    align-self: flex-start;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0 0 0 10px;

}

p {
    display: flex; 
    align-self: flex-start;
    font-family: 'Josefin Sans', sans-serif;
    margin: 1.5px 0 0 10px;
    opacity: 0.5;

}

span {
    font-size: 12px;
    opacity: 0.5;
    display: block;
    margin: 10px;
}

.instructions {
    margin: 30px 0 0 0;
}

.guess-container {
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;

    height: auto;
    width: 98vw;
    margin: 20px 0 0 5px;


}

#guessInput {
    height: 35px;
    width: 95%;
    margin: 10px 0 0 0px;
    border-radius: 5px;
    border: none;
    
}

#guessSubmit {
    height: 40px;
    width: 98%;
    margin: 10px 0 0 0px;
    border-radius: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    background-color: #0A5C36;
    border: none;
    color: white;
    transition: background-color 0.3s;
    
}

#guessSubmit:active {
    background-color: black;
   
}



.history-container {
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    width: 98%;
    margin: 20px 0 0 5px;
    
}


#previousGuessesText {
    color: #0A5C36;
    opacity: 1;
    font-size: 25px;
    
}



#playAgainBtn {
    position: absolute;
    bottom: 2%;
    color: white;
    border-radius: 3px;
    background-color: #0A5C36;
    border: none;
    height: 30px;
    width: 80px;
    text-align: center;
    z-index: 2;
    display: none;
    
    
    
}

#startScreen {
    height: 100%;
    width: 100vw;
    background-color: #282828;
    font-family: 'Honk', system-ui;
    text-align: center;
    display: block;
    align-self: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    border: none;
}

#startText {
    margin: 150px 0 25px 0;
    border: none;
}

#easyButton, #medButton, #hardButton {
    height: 40px;
    width: 30%;
    background-color: hotpink;
    border: 1px solid #ffc922;
    border-radius: 5px;
    color: black;
    font-family: 'Honk', system-ui;
    font-size: 2rem;
    text-align: center;

}

#endScreen {
    height: 100%;
    width: 100vw;
    background-color: #282828;
    font-family: 'Honk', system-ui;
    text-align: center;
    display: none;
    align-self: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    border: none;
}

#endText {
    border: none;
    
}

#livesText {
    display: flex;
    align-self: flex-start;
    justify-self: flex-end;
    position: relative;
    margin: 2px 0 5px 10px;
    color: #0A5C36;
    opacity: 1;
}

#livesNum {
    font-size: 20px;
}


